# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Text files
*.txt

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# pychace
__pycache__/
